<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>蔬菜</key>
	<dict>
		<key>豆菜类</key>
		<array>
			<string>毛豆</string>
			<string>刀豆</string>
			<string>四季豆</string>
			<string>豆角</string>
			<string>扁豆</string>
			<string>豌豆</string>
			<string>荷兰豆</string>
			<string>四棱豆</string>
		</array>
		<key>葱姜蒜类</key>
		<array>
			<string>韭黄</string>
			<string>蒜苗</string>
			<string>大蒜</string>
			<string>生姜</string>
			<string>大葱</string>
			<string>小葱</string>
			<string>蒜苔</string>
			<string>洋葱</string>
			<string>红葱头</string>
			<string>藠头</string>
			<string>洋姜</string>
			<string>葱仔</string>
		</array>
		<key>叶菜类</key>
		<array>
			<string>白菜</string>
			<string>小白菜</string>
			<string>生菜</string>
			<string>苋菜</string>
			<string>娃娃菜</string>
			<string>韭菜</string>
			<string>木耳菜</string>
			<string>香菜</string>
			<string>油麦菜</string>
			<string>油菜</string>
			<string>空心菜</string>
			<string>菠菜</string>
			<string>甜菜</string>
			<string>黄心菜</string>
			<string>萝卜菜</string>
			<string>芹菜</string>
			<string>莴笋</string>
		</array>
		<key>茄果菜类</key>
		<array>
			<string>辣椒</string>
			<string>西红柿</string>
			<string>茄子</string>
			<string>秋葵</string>
			<string>鲜玉米</string>
		</array>
		<key>水生菜类</key>
		<array>
			<string>茭白</string>
			<string>莲藕</string>
			<string>芦笋</string>
			<string>水芹</string>
			<string>菱角</string>
			<string>慈菇</string>
			<string>藕带</string>
			<string>鲜芡实</string>
		</array>
		<key>瓜菜类</key>
		<array>
			<string>南瓜</string>
			<string>丝瓜</string>
			<string>冬瓜</string>
			<string>黄瓜</string>
			<string>苦瓜</string>
			<string>佛手瓜</string>
			<string>西葫芦</string>
			<string>金丝绞瓜</string>
			<string>瓠瓜</string>
			<string>地蒲</string>
		</array>
		<key>根茎菜类</key>
		<array>
			<string>萝卜</string>
			<string>胡萝卜</string>
			<string>竹笋</string>
			<string>葛根</string>
			<string>韭菜根</string>
			<string>魔芋</string>
			<string>木薯</string>
			<string>凉薯</string>
			<string>山药</string>
			<string>红薯</string>
			<string>紫薯</string>
			<string>土豆</string>
			<string>芋头</string>
			<string>板薯</string>
		</array>
		<key>甘蓝类</key>
		<array>
			<string>苤蓝</string>
			<string>花椰菜</string>
			<string>西兰花</string>
			<string>包菜</string>
			<string>芥蓝</string>
		</array>
	</dict>
	<key>畜牧水产</key>
	<dict>
		<key>水产类</key>
		<array>
			<string>鲈鱼</string>
			<string>鲤鱼</string>
			<string>泥鳅</string>
			<string>银鱼</string>
			<string>草鱼</string>
			<string>黄鳝</string>
			<string>青鱼</string>
			<string>鲫鱼</string>
			<string>鲢鱼</string>
			<string>鲶鱼</string>
			<string>鳜鱼</string>
			<string>鳜鱼</string>
			<string>鳊鱼</string>
			<string>鳢鱼</string>
			<string>鲳鱼</string>
			<string>石斑鱼</string>
			<string>带鱼</string>
			<string>黄花鱼</string>
			<string>黄颡鱼</string>
			<string>大闸蟹</string>
			<string>河蟹</string>
			<string>对虾</string>
			<string>小龙虾</string>
		</array>
		<key>禽畜类</key>
		<array>
			<string>鸡</string>
			<string>鸭</string>
			<string>鹅</string>
			<string>鸽子</string>
			<string>牛</string>
			<string>羊</string>
			<string>猪</string>
			<string>兔子</string>
			<string>野鸭</string>
			<string>山鸡</string>
			<string>火鸡</string>
			<string>珍珠鸡</string>
			<string>乌骨鸡</string>
			<string>野猪</string>
			<string>豪猪</string>
			<string>香猪</string>
		</array>
		<key>繁育种苗</key>
		<array>
			<string>鸡苗</string>
			<string>鸭苗</string>
			<string>鹅苗</string>
			<string>猪苗</string>
			<string>鱼苗</string>
			<string>乌龟苗</string>
			<string>甲鱼苗</string>
			<string>虾苗</string>
			<string>蟹苗</string>
			<string>蛇苗</string>
			<string>竹鼠苗</string>
			<string>泥鳅苗</string>
			<string>黄鳝苗</string>
		</array>
		<key>特种类</key>
		<array>
			<string>蛙</string>
			<string>骆驼</string>
			<string>蚕</string>
			<string>土元</string>
			<string>蟑螂</string>
			<string>螳螂</string>
			<string>蜈蚣</string>
			<string>黄粉虫</string>
			<string>水蛭</string>
			<string>蚯蚓</string>
			<string>甲鱼</string>
			<string>羊驼</string>
			<string>大雁</string>
			<string>蜜蜂</string>
		</array>
	</dict>
	<key>种子种苗</key>
	<dict>
		<key>蔬菜种子</key>
		<array>
			<string>豆角种子</string>
			<string>花椒种子</string>
			<string>香菜种子</string>
			<string>荠菜种子</string>
			<string>韭菜种子</string>
			<string>苦苣种子</string>
			<string>芦笋种子</string>
			<string>西葫芦种子</string>
			<string>丝瓜种子</string>
			<string>高钙菜种子</string>
			<string>苦瓜种子</string>
			<string>茄子种子</string>
			<string>娃娃菜种子</string>
			<string>青梗菜种子</string>
			<string>苋菜种子</string>
			<string>贡菜种子</string>
		</array>
		<key>水果类种子</key>
		<array>
			<string>蓝莓种子</string>
			<string>李子种子</string>
			<string>脆柿种子</string>
			<string>香如蜜种子</string>
			<string>猕猴桃种子</string>
			<string>钙果种子</string>
			<string>大青枣种子</string>
			<string>火龙果种子</string>
			<string>柑橘种子</string>
		</array>
		<key>粮油类种子</key>
		<array>
			<string>高粱种子</string>
			<string>油菜籽种子</string>
			<string>小麦种子</string>
			<string>藜麦种子</string>
			<string>黄豆种子</string>
			<string>蓖麻种子</string>
			<string>大麦种子</string>
		</array>
		<key>水果种苗</key>
		<array/>
		<key>蔬菜种苗</key>
		<array>
			<string>其他菜苗</string>
			<string>甜麦菜苗</string>
			<string>黄瓜种苗</string>
			<string>黄瓜种苗</string>
			<string>象牙菜苗</string>
			<string>豌豆苗</string>
			<string>葛种种苗</string>
			<string>青豆种苗</string>
			<string>台湾山苏苗</string>
		</array>
	</dict>
	<key>农副加工</key>
	<dict>
		<key>坚果</key>
		<array>
			<string>核桃</string>
			<string>瓜子</string>
			<string>板栗</string>
			<string>花生果</string>
			<string>橡子仁</string>
			<string>麻子</string>
			<string>松仁</string>
			<string>甘栗仁</string>
			<string>榛子</string>
			<string>巴旦木</string>
			<string>杏核</string>
			<string>杏仁</string>
			<string>沙漠果</string>
			<string>香榧</string>
			<string>开心果</string>
			<string>夏威夷果</string>
			<string>碧根果</string>
			<string>腰果</string>
			<string>桃核</string>
		</array>
		<key>肉蛋奶</key>
		<array>
			<string>鸡蛋</string>
			<string>鸭蛋</string>
			<string>鹅蛋</string>
			<string>鹌鹑蛋</string>
			<string>鸽子蛋</string>
			<string>皮蛋</string>
			<string>咸蛋</string>
			<string>猪肉</string>
			<string>牛肉</string>
			<string>羊肉</string>
			<string>鸡肉</string>
			<string>鸭肉</string>
			<string>鹅肉</string>
			<string>兔肉</string>
			<string>鸽肉</string>
			<string>蛙肉</string>
			<string>鸡副产品</string>
			<string>鸭副产品</string>
			<string>鹅副产品</string>
			<string>猪副产品</string>
			<string>牛副产品</string>
			<string>羊副产品</string>
			<string>奶制品</string>
		</array>
		<key>干菜</key>
		<array>
			<string>脱水蔬菜</string>
			<string>干香菇</string>
			<string>干菌子</string>
			<string>干木耳</string>
			<string>百合干</string>
		</array>
		<key>休闲速食品</key>
		<array>
			<string>肉类零食</string>
			<string>饼干糕点</string>
			<string>休闲零食</string>
			<string>蔬果罐头</string>
			<string>肉类罐头</string>
			<string>速冻蔬果</string>
			<string>冲调品</string>
			<string>饮料</string>
			<string>米线</string>
		</array>
		<key>茶叶</key>
		<array>
			<string>黑茶</string>
			<string>绿茶</string>
			<string>毛尖</string>
			<string>红茶</string>
			<string>花茶</string>
			<string>普洱</string>
			<string>乌龙茶</string>
			<string>黄茶</string>
			<string>白茶</string>
		</array>
		<key>营养滋补品</key>
		<array>
			<string>蜂蜜</string>
			<string>蜂胶</string>
			<string>蜂蜡</string>
			<string>桃胶</string>
			<string>枇杷膏</string>
			<string>花粉</string>
		</array>
		<key>水产肉制品</key>
		<array>
			<string>水产干货</string>
			<string>冷冻水产品</string>
			<string>腌渍水产品</string>
			<string>腊肉</string>
			<string>腊制品</string>
			<string>香肠制品</string>
			<string>火腿制品</string>
			<string>丸子制品</string>
			<string>卤制品</string>
			<string>板鸭</string>
			<string>仿荤菜</string>
		</array>
		<key>干果</key>
		<array>
			<string>红枣</string>
			<string>柿饼</string>
			<string>枸杞</string>
			<string>葡萄干</string>
			<string>地瓜干</string>
			<string>桂圆干</string>
			<string>干山楂</string>
			<string>干姜片</string>
			<string>干莲子</string>
			<string>蜜饯果脯</string>
			<string>葛根干</string>
		</array>
		<key>经济作物</key>
		<array>
			<string>棉花</string>
			<string>咖啡豆</string>
			<string>蚕丝</string>
			<string>苎麻</string>
			<string>竹类加工品</string>
			<string>食品加工原料</string>
		</array>
	</dict>
	<key>苗木花草</key>
	<dict>
		<key>花卉盆栽</key>
		<array>
			<string>丁香</string>
			<string>月季</string>
			<string>兰花</string>
			<string>茶花</string>
			<string>牡丹</string>
			<string>玫瑰</string>
			<string>紫藤</string>
			<string>芍药</string>
			<string>水仙</string>
			<string>石竹</string>
			<string>吊兰</string>
			<string>栀子花</string>
			<string>茉莉花</string>
			<string>鸡冠花</string>
			<string>迎春花</string>
			<string>芙蓉花</string>
			<string>薰衣草</string>
			<string>紫罗兰</string>
			<string>九里香</string>
			<string>三色堇</string>
			<string>美女樱</string>
			<string>一串红</string>
			<string>美人蕉</string>
			<string>虞美人</string>
			<string>羽衣甘蓝</string>
			<string>芦荟</string>
			<string>仙人掌</string>
			<string>多肉植物</string>
			<string>造型景观树</string>
			<string>草</string>
			<string>盆栽</string>
			<string>水生花卉</string>
			<string>夹竹桃</string>
			<string>金弹子</string>
			<string>三叶草</string>
			<string>红王子锦带</string>
			<string>蔷薇</string>
			<string>萱草</string>
			<string>黄刺玫</string>
			<string>棣棠花</string>
			<string>水苔</string>
			<string>木香花</string>
			<string>南非叶</string>
			<string>高山羊齿</string>
			<string>百合竹</string>
			<string>三角梅</string>
			<string>木兰</string>
			<string>爬山虎</string>
			<string>红花荷</string>
			<string>银边草</string>
			<string>红掌</string>
			<string>鸢尾</string>
			<string>白掌</string>
			<string>鼠尾草</string>
			<string>丛生福禄考</string>
			<string>乱子草</string>
			<string>牵牛</string>
			<string>藤蔓</string>
			<string>郁金香</string>
			<string>马兰花</string>
			<string>鹤望兰</string>
			<string>绿萝</string>
			<string>荷花</string>
			<string>观赏灵芝</string>
			<string>康乃馨</string>
			<string>金花茶</string>
			<string>金钱莲</string>
			<string>菖蒲</string>
			<string>瑞香</string>
			<string>鸭脚木</string>
			<string>百合花</string>
			<string>满天星</string>
			<string>勿忘我</string>
			<string>舞草</string>
			<string>金鱼草</string>
			<string>圣诞伽蓝菜</string>
			<string>金雀花</string>
			<string>绣球</string>
			<string>向日葵</string>
			<string>葛藤</string>
			<string>红山藤</string>
			<string> 蜀葵花</string>
			<string>菊科蒿</string>
			<string>文母</string>
			<string>马蹄莲</string>
		</array>
		<key>苗木</key>
		<array>
			<string>香樟</string>
			<string>国槐</string>
			<string>红枫</string>
			<string>黄杨</string>
			<string>樱花</string>
			<string>女贞</string>
			<string>海棠</string>
			<string>柳树</string>
			<string>白蜡</string>
			<string>水腊</string>
			<string>紫荆</string>
			<string>栾树</string>
			<string>雪松</string>
			<string>榕树</string>
			<string>蜀桧</string>
			<string>油茶树</string>
			<string>竹子</string>
			<string>罗汉松</string>
			<string>白皮松</string>
			<string>湿地松</string>
			<string>樟子松</string>
			<string>速生杨</string>
			<string>榆树</string>
			<string>桂花树</string>
			<string>银杏树</string>
			<string>云杉</string>
			<string>水杉</string>
			<string>红豆杉</string>
			<string>玉兰</string>
			<string>紫薇</string>
			<string>枫树</string>
			<string>红叶李</string>
			<string>石楠</string>
			<string>红叶石楠</string>
			<string>黄槐</string>
			<string>香花槐</string>
			<string>冬青</string>
			<string>法国冬青</string>
			<string>法国梧桐</string>
			<string>梅树</string>
			<string>蜡梅</string>
			<string>龙柏</string>
			<string>侧柏</string>
			<string>洒金柏</string>
			<string>沙地柏</string>
			<string>桧柏</string>
			<string>朴树</string>
			<string>苏铁</string>
			<string>海桐球</string>
			<string>合欢树</string>
			<string>老人葵</string>
			<string>海枣</string>
			<string>中东海枣</string>
			<string>含笑</string>
			<string>红叶小檗</string>
			<string>西洋杜鹃</string>
			<string>七叶树</string>
			<string>沉香树</string>
			<string>红花继木</string>
			<string>杜英</string>
			<string>油松</string>
			<string>鸡爪槭</string>
			<string>杜鹃</string>
			<string>木槿</string>
			<string>碧桃</string>
			<string>香泡</string>
			<string>金丝楠木</string>
			<string>红皮榕</string>
			<string>重阳木</string>
			<string>杨树</string>
			<string>竹柏</string>
			<string>皂角树</string>
			<string>发财树</string>
			<string>风铃木</string>
			<string>水生绿植</string>
			<string>山楂树苗</string>
			<string>华山松</string>
			<string>中山杉</string>
			<string>椿树</string>
			<string>楠木</string>
			<string>卫矛</string>
			<string>珊瑚</string>
			<string>平枝荀子</string>
			<string>红瑞木</string>
			<string>常青藤</string>
			<string>桤木</string>
			<string>八角金盘</string>
			<string>榉树</string>
			<string>楸树</string>
			<string>槐树</string>
			<string>剑麻</string>
			<string>黄栌</string>
			<string>乌桕</string>
			<string>杉树</string>
			<string>竹柳</string>
			<string>桂皮树</string>
			<string>流苏树</string>
		</array>
	</dict>
	<key>粮油米面</key>
	<dict>
		<key>食用油</key>
		<array>
			<string>大豆油</string>
			<string>山茶油</string>
			<string>花生油</string>
			<string>橄榄油</string>
			<string>玉米油</string>
			<string>菜籽油</string>
			<string>葵花籽油</string>
			<string>色拉油</string>
			<string>火麻油</string>
			<string>亚麻籽油</string>
			<string>红花籽油</string>
			<string>夏威夷果油</string>
			<string>鳄梨油</string>
			<string>麻子油</string>
			<string>核桃油</string>
			<string>黄秋葵油</string>
			<string>黄芥油</string>
			<string>杏仁油</string>
			<string>苏籽油</string>
			<string>圣子油</string>
			<string>茶叶籽油</string>
			<string>花椒油</string>
			<string>猪油</string>
			<string>牡丹籽油</string>
			<string>芝麻油</string>
			<string>椰子油</string>
			<string>石榴籽油</string>
			<string>文冠果油</string>
		</array>
		<key>五谷杂粮</key>
		<array>
			<string>红豆</string>
			<string>大豆</string>
			<string>绿豆</string>
			<string>芸豆</string>
			<string>蚕豆</string>
			<string>黑豆</string>
			<string>赤小豆</string>
			<string>大米</string>
			<string>小米</string>
			<string>玉米粒</string>
			<string>大麦</string>
			<string>小麦</string>
			<string>燕麦</string>
			<string>藜麦</string>
			<string>荞麦</string>
			<string>青稞</string>
			<string>高粱</string>
			<string>红米</string>
			<string>紫米</string>
			<string>黑米</string>
			<string>糯米</string>
			<string>薏米</string>
			<string>花生</string>
			<string>芝麻</string>
			<string>干豌豆</string>
			<string>菜籽</string>
			<string>茶籽</string>
			<string>葵花籽</string>
			<string>棉籽</string>
			<string>蓖麻</string>
			<string>苦荞米</string>
			<string>糜子</string>
			<string>鹰嘴豆</string>
			<string>熊猫豆</string>
			<string>胡麻籽</string>
			<string>花豆</string>
			<string>皂角米</string>
			<string>麦仁米</string>
			<string>穇子米</string>
			<string>五谷米</string>
			<string>亚麻籽</string>
			<string>旱稻</string>
			<string>冻米</string>
			<string>桐籽</string>
			<string>黄米</string>
			<string>稻壳</string>
			<string>稻谷</string>
			<string>江豆</string>
			<string>苏籽</string>
			<string>黍子</string>
			<string>青刺果</string>
			<string>油橄榄</string>
		</array>
		<key>调味品</key>
		<array>
			<string>盐</string>
			<string>味精</string>
			<string>鸡精</string>
			<string>糖</string>
			<string>醋</string>
			<string>酱油</string>
			<string>蚝油</string>
			<string>干辣椒</string>
			<string>辣椒粉</string>
			<string>胡椒</string>
			<string>孜然</string>
			<string>花椒</string>
			<string>桂皮</string>
			<string>陈皮</string>
			<string>八角</string>
			<string>茴香</string>
			<string>酱</string>
			<string>淀粉</string>
			<string>泡菜</string>
			<string>咸菜酱菜</string>
			<string>榨菜</string>
			<string>剁椒</string>
			<string>十三香</string>
			<string>姜粉</string>
			<string>豆豉</string>
			<string>砂仁果</string>
			<string>调味油</string>
			<string>料酒</string>
			<string>火锅料</string>
			<string>香草豆</string>
			<string>调味料</string>
			<string>花生碎</string>
		</array>
		<key>粮食加工</key>
		<array>
			<string>馒头</string>
			<string>焖子</string>
			<string>面粉</string>
			<string>豆制品</string>
			<string>面条</string>
			<string>粉条粉块</string>
			<string>饺子</string>
			<string>汤圆</string>
			<string>粉丝</string>
		</array>
	</dict>
	<key>农资农机</key>
	<dict>
		<key>农资</key>
		<array>
			<string>牧草</string>
			<string>温室组件</string>
			<string>其它农资</string>
			<string>木质工具</string>
			<string>栽培基质</string>
			<string>塑料膜</string>
			<string>活性花粉</string>
			<string>灭虫灯</string>
			<string>粽叶</string>
			<string>遮阳网</string>
			<string>塑料容器</string>
			<string>木炭</string>
			<string>蜂箱</string>
			<string>木材</string>
		</array>
		<key>农机</key>
		<array>
			<string>农用动力车</string>
			<string>农用拖拉机</string>
			<string>耕整机械</string>
			<string>收获机械</string>
			<string>果蔬机械</string>
			<string>植保机械</string>
			<string>饲料机械</string>
			<string>肥料机械</string>
			<string>农机配件</string>
			<string>食品加工机械</string>
			<string>种植施肥机械</string>
			<string>选种育苗机械</string>
			<string>农用检测仪器</string>
		</array>
		<key>农具</key>
		<array>
			<string>温室大棚</string>
			<string>普通工具</string>
			<string>育苗防护资材</string>
			<string>畜养殖设备</string>
			<string>滴灌喷灌</string>
			<string>管道管件</string>
		</array>
	</dict>
	<key>水果</key>
	<dict>
		<key>瓜果类</key>
		<array>
			<string>西瓜</string>
			<string>甜瓜</string>
			<string>哈密瓜</string>
			<string>吊瓜</string>
			<string>八月瓜</string>
		</array>
		<key>核果仁果类</key>
		<array>
			<string>苹果</string>
			<string>梨</string>
			<string>山楂</string>
			<string>沙果</string>
			<string>蛇果</string>
			<string>李子</string>
			<string>鲜枣</string>
			<string>杏</string>
			<string>杨梅</string>
			<string>青梅</string>
			<string>蜜桃</string>
			<string>毛桃</string>
			<string>蟠桃</string>
			<string>黄桃</string>
			<string>油桃</string>
			<string>石榴</string>
			<string>无花果</string>
			<string>番石榴</string>
			<string>黄皮果</string>
			<string>人参果</string>
			<string>红毛丹</string>
			<string>释迦果</string>
			<string>黑老虎</string>
			<string>罗汉果</string>
			<string>美藤果</string>
			<string>雪莲果</string>
			<string>火参果</string>
			<string>海红果</string>
			<string>拐枣</string>
			<string>构桃</string>
			<string>樱桃</string>
			<string>枇杷</string>
			<string>西梅</string>
			<string>金刺梨</string>
			<string>乌梅</string>
			<string>钙果</string>
			<string>鲜玉米</string>
		</array>
		<key>柑橘类</key>
		<array>
			<string>柑桔</string>
			<string>脐橙</string>
			<string>柚子</string>
			<string>金桔</string>
		</array>
		<key>热带水果</key>
		<array>
			<string>芒果</string>
			<string>荔枝</string>
			<string>龙眼</string>
			<string>菠萝</string>
			<string>火龙果</string>
			<string>香蕉</string>
			<string>榴莲</string>
			<string>木瓜</string>
			<string>莲雾</string>
			<string>山竹</string>
			<string>椰子</string>
			<string>甘蔗</string>
			<string>菠萝蜜</string>
			<string>牛油果</string>
			<string>橄榄</string>
			<string>杨桃</string>
			<string>柠檬</string>
			<string>蛋黄果</string>
			<string>余甘果</string>
			<string>人心果</string>
			<string>诺丽果</string>
			<string>榴莲蜜</string>
			<string>香如蜜</string>
		</array>
		<key>浆果类</key>
		<array>
			<string>葡萄</string>
			<string>草莓</string>
			<string>树莓</string>
			<string>圣女果</string>
			<string>桑葚</string>
			<string>蓝莓</string>
			<string>猕猴桃</string>
			<string>柿子</string>
			<string>百香果</string>
			<string>黑莓</string>
			<string>树葡萄</string>
			<string>蓝靛果</string>
			<string>酸角</string>
			<string>沙棘果</string>
			<string>马蹄</string>
			<string>姑娘果</string>
			<string>杈杷果</string>
		</array>
	</dict>
</dict>
</plist>
